/*Bus*/
.bodi-bus > .kendaraan-content > .kendaraan-content{
    display: table;
}
.bodi-bus > .kendaraan-content > .row-kursi{
    display: table-cell;
    padding: 6px;
    margin: 5px;
}
.bodi-bus > .kendaraan-content > .row-kursi > .row-round{
    padding: 10px;
    background: #f5f5f5;
    margin: 5px 0;
}
.bodi-bus > .kendaraan-content > .row-kursi > .row-empty{
    padding: 10px;
    background: none;
}
.bodi-bus > .kendaraan-content > .row-kursi > .kursi{
    position: relative;
    padding: 5px 10px 5px 5px;
}

.bodi-bus > .kendaraan-content > .row-kursi > .kursi > a > .no-kursi{
    background: yellow;
    text-decoration: none;
    position: absolute;
    right: 0;
    border-radius: 10px;
    padding: 3px;
    font-size: 8pt;
}

/*elf*/
.bodi-elf > .kendaraan-content > .kendaraan-content{
    display: table;
}
.bodi-elf > .kendaraan-content > .row-kursi{
    display: table-cell;
    padding: 6px;
    margin: 5px;
}
.bodi-elf > .kendaraan-content > .row-kursi > .row-round{
    padding: 10px;
    background: #f5f5f5;
    margin: 5px 0;
}
.bodi-elf > .kendaraan-content > .row-kursi > .row-empty{
    padding: 10px;
    background: none;
}
.bodi-elf > .kendaraan-content > .row-kursi > .kursi{
    position: relative;
    padding: 5px 10px 5px 5px;
}

.bodi-elf > .kendaraan-content > .row-kursi > .kursi > a > .no-kursi{
    background: yellow;
    text-decoration: none;
    position: absolute;
    left: 20%;
    top: 30%;
    border-radius: 10px;
    font-size: 8pt;
}