.top-warning{
	background: #eee;
	display: none;
}

.top-warning-body{
	padding: 10px;
	text-align: center;
}

.top-notif{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}

.create-route > .navbar > .navbar-inner > .container > ul > li > a{
	background: #fff;
	color: #333;
}
.create-route > .navbar > .navbar-inner > .container > ul > li > a > span{
	background: #ddd;
	color: #fff;
	padding: 10px;
	margin-right: 5px;
	font-weight: bold;
	border-radius:30px;
}
.create-route > .navbar > .navbar-inner > .container > ul > li.active > a > span{
	background: #01b7f2;
	color: #fff;
	padding: 10px;
	margin-right: 5px;
	font-weight: bold;
	border-radius:30px;
}
.th_netral{
	background: #888;
}
.th_depart{
	background: #12a0c3;
	color: #fff;
}
.th_destination{
	background: #ff6000;
	color: #fff;
}

.img-active{
	box-shadow: 0px 0px 10px #333;
	border-radius: 15px;
}
.item-facility:hover img{
	box-shadow: 0px 0px 5px #333;
	border-radius: 15px;	
}

ul.wizard{
	list-style-type: none;
	margin: 0 auto;
}
ul.wizard li{
	display: inline;
	margin-left: 10%;
	position: relative;
	font-family: sans-serif;
}
ul.wizard li.active{
	font-weight: bold;
}
ul.wizard li:before{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px #333;
	padding: 10px;
	position: absolute;
	z-index: 0;
	top: -3px;
	left: -25px;
	content: " "
}
ul.wizard li.active:before{
	background: #07a5d8;
	border-radius: 10px;
	box-shadow: 0 0 5px #01b7f2;
	padding: 10px;
	position: absolute;
	z-index: 0;
	top: -3px;
	left: -25px;
	content: " "
}
.diskonfocus{
	border:solid 1px #333;
	box-shadow: 0 0 5px #0078c7;
}
.page-route {
	background: #FFF9AA;
	line-height: 2.6667em;
	font-size: 1.0833em;
}